---
import './hero.css';
import Boton from '../atoms/Boton.astro';
import SocialIcons from '../SocialIcons.astro';
---

<section class="hero">

	<div class="hero__container">
		
		<div class="fixed bottom-0 right-0 w-full">
			<div class="hidden sm:flex justify-end items-stretch w-full max-w-screen-2xl">
			  <SocialIcons width="40" height="40" />
			</div>
		  </div>
	</div>
</section>
