---
import './header.css';
const { origin } = Astro.props;
import Logo from '../Logo.astro';
import ListenModalLayout from '../../layouts/ListenModalLayout.astro';
import EventsModalLayout from '../../layouts/EventsModalLayout.astro';
import VideoModalLayout from '../../layouts/VideoModalLayout.astro';
import GalleryModalLayout from '../../layouts/GalleryModalLayout.astro';
import ContactModalLayout from '../../layouts/ContactModalLayout.astro';
---

<header class="header">
	<div class="header__container">
		<Logo title="Thee" name="Joe Charley"/>
		<nav class="links"   tabindex="0.1">
			<button class="menu__btn mb-32" >Menu</button>
			<div class="header__list">
				<ListenModalLayout/>
				<EventsModalLayout/>
				<VideoModalLayout/>
				<GalleryModalLayout/>
				<ContactModalLayout/>
			</div>
		</nav>
	</div>
</header>
