---
import "../styles/global.css"
interface Props {
	title: string;
}
const { title } = Astro.props;
import Header from '../components/header/Header.astro';
import { mainMenu } from '../components/data/menuData.js';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
		<title>{title}</title>
	</head>
	<body class="flex flex-col max__width">

			<slot/>
	</body>
</html>
