---

import MusicPlayer from '../components/UI/musicPlayer.astro';
import SocialIcons from '../components/SocialIcons.astro';
import Title from '../components/atoms/Title.astro';
---

<!-- Trigger button to open modal -->
<button id="openModalBtn1" class="open-modal-btn">Listen</button>

<!-- Modal structure -->
<div id="listenModal" class="modal z-50">
	<div class="modal-content">
		<!-- Close button for the modal -->
		<span id="closeModalBtn1" class="close">&times;</span>

		<!-- Your about section -->
    <!-- <slot /> -->
		<section id="listen" class="about">
			<div class="about__container">
				<div class="about__content">
					<Title margin="1rem" contenido="B.A.M.B.I - EP (2024)" />
					<ul>
						<li>1. Hygiene (2:54)</li>
						<li>2. XXX (3:25)</li>
						<li>3. Happy Birthday (3:54)</li>
						<li>4. Joey (3:34)</li>
						<li>5. Good Day (2:51)</li>
					</ul>
					<MusicPlayer />
				</div>
			</div>
		</section>
	</div>
</div>
<script is:inline>
	// Get modal element
	const lmodal = document.getElementById('listenModal');
	// Get open modal button
	const openModalBtn1 = document.getElementById('openModalBtn1');
	// Get close button
	const closeModalBtn1 = document.getElementById('closeModalBtn1');

	// Event listener to open modal
	openModalBtn1.addEventListener('click', function () {
		lmodal.style.display = 'block';
	});

	// Event listener to close modal
	closeModalBtn1.addEventListener('click', function () {
		lmodal.style.display = 'none';
	});

	// Close modal when clicking outside of modal content
	window.addEventListener('click', function (event) {
		if (event.target === modal) {
			lmodal.style.display = 'none';
		}
	});
</script>


<style>
  .about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.about__container {
	display: flex;
	padding: 0rem 13.1rem 13.1rem;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	gap: 4.4rem;
}

.about__img {
	background-color: #0d0045;
	-webkit-mask-image: radial-gradient(ellipse, #000 53%, #0000 68%);
	border-radius: 50%;
	mask-image: radial-gradient(ellipse, #000 53%, #0000 68%);
	border-radius: 50%;
	object-fit: cover;
	width: 39.5rem;
	height: 48.1rem;
	min-width: 39.5rem;
	min-height: 48.1rem;
}

.about__content {
	display: flex;
	flex-direction: column;
	max-width: 75rem;
	gap: 2.1rem;
	justify-content: center;
}

.about__text {
	font-size: 2.1rem;
	max-width: 70.19rem;
}

@media screen and (max-width: 768px) {
	.about__container {
		padding: 8rem 3.1rem;
		flex-direction: column-reverse;
		align-items: center;
	}
	.about__img {
		width: 29.5rem;
		height: 38.1rem;
		min-width: 29.5rem;
		min-height: 38.1rem;
	}
}


/* Modal container */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
}

/* Modal content */
.modal-content {
	background-color: rgba(0, 0, 0, 0.7);
	margin: 10% auto; /* 10% from the top and centered */
	padding: 20px;
	border: 1px solid #88888819;
	width: 100%; /* Could be adjusted for larger modals */
	max-width: 1200px; /* Max width for the modal */
}

/* Close button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
</style>