<div class="slider">
	<div class="slider-inner">
		<div class="slide" data-slide="1">
			
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-11.webp?updatedAt=1728360284868" alt="" srcset="">
		</div>

		<div class="slide" data-slide="2">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-12.webp?updatedAt=1728360284789" alt="" srcset="">
		</div>

		<div class="slide" data-slide="3">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-2.webp?updatedAt=1728360282240" alt="" srcset="">
		</div>

		<div class="slide" data-slide="4">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-9.webp?updatedAt=1728360281960" alt="" srcset="">
		</div>
        <div class="slide" data-slide="5">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-10.webp?updatedAt=1728360281593" alt="" srcset="">
		</div>
        <div class="slide" data-slide="6">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-5.webp?updatedAt=1728360281708" alt="" srcset="">
		</div>
        <div class="slide" data-slide="7">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-7.webp?updatedAt=1728360281873" alt="" srcset="">
		</div>
        <div class="slide" data-slide="8">
            <img src="https://ik.imagekit.io/boxhuwbys/joe-charley-8.webp?updatedAt=1728360282046" alt="" srcset="">
		</div>
	</div>

	<div class="indicators">
		<div class="indicator" data-slide="1" active></div>
		<div class="indicator" data-slide="2"></div>
		<div class="indicator" data-slide="3"></div>
		<div class="indicator" data-slide="4"></div>
        <div class="indicator" data-slide="5" ></div>
		<div class="indicator" data-slide="6"></div>
		<div class="indicator" data-slide="7"></div>
		<div class="indicator" data-slide="8"></div>
	</div>

	<div class="arrows">
		<div class="arrow-prev">
			<i class="fas fa-chevron-left"></i>
		</div>
		<div class="arrow-next">
			<i class="fas fa-chevron-right"></i>
		</div>
	</div>
</div>
<style>

	.content {
		width: 100%;
		height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
        margin: 0 auto;
	}

	.slider {
		position: relative;
		width: 100%;
		display: flex;
		overflow: hidden;
	}

	.slider .slider-inner {
		display: flex;
		width: 100%;
		transition: all 0.3s;
	}

	.slider .slide {
		flex: none;
		width: 100%;
	}

	.slider .indicators {
		display: flex;
		position: absolute;
		bottom: 20px;
		right: 50px;
		z-index: 1;
	}

	.slider .indicators .indicator {
		margin: 0px 5px;
		width: 10px;
		height: 10px;
		background-color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 4px;
		opacity: 0.6;
		cursor: pointer;
		transition: all 0.3s;
	}

	.slider .indicators .indicator[active] {
		width: 15px;
		opacity: 1;
	}

	.slider .arrows {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}

	.slider .arrows .arrow-prev,
	.slider .arrows .arrow-next {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 4px;
		opacity: 0.6;
		cursor: pointer;
		transition: all 0.3s;
	}

	.slider .arrows .arrow-prev:hover,
	.slider .arrows .arrow-next:hover {
		opacity: 0.8;
	}

	.slider .arrows .arrow-prev {
		left: 5px;
	}

	.slider .arrows .arrow-next {
		right: 5px;
	}

	.slider .arrows .arrow-prev .fas,
	.slider .arrows .arrow-next .fas {
		color: #4b4b4b;
		opacity: 0.5;
	}
</style>
<script>
	const indicators = document.querySelectorAll(
		'.slider .indicators .indicator'
	);
	const arrowPrev = document.querySelector('.slider .arrows .arrow-prev');
	const arrowNext = document.querySelector('.slider .arrows .arrow-next');

	const handleIndicatorClick = (event) => {
		const indicator = event.target;
		if (!isActive(indicator)) {
			removeActive();
			addActive(indicator);
			showSlide(indicator.dataset.slide);
		}
	};

	const handlePrevArrowClick = (event) => {
		let activeSlide = 0;
		let newActiveSlide = indicators.length;
		let ready = false;

		indicators.forEach((indicator) => {
			if (isActive(indicator) && !ready) {
				activeSlide = indicator.dataset.slide;
				if (activeSlide !== '1') {
					newActiveSlide = parseInt(activeSlide) - 1;
				}
				removeActive();
				addActive(
					document.querySelector(
						`.slider .indicators [data-slide='${newActiveSlide}']`
					)
				);
				showSlide(newActiveSlide);
				ready = true;
			}
		});
	};

	const handleNextArrowClick = (event) => {
		let activeSlide = 0;
		let newActiveSlide = 1;
		let ready = false;

		indicators.forEach((indicator) => {
			if (isActive(indicator) && !ready) {
				activeSlide = indicator.dataset.slide;
				if (activeSlide !== indicators.length.toString()) {
					newActiveSlide = parseInt(activeSlide) + 1;
				}
				removeActive();
				addActive(
					document.querySelector(
						`.slider .indicators [data-slide='${newActiveSlide}']`
					)
				);
				showSlide(newActiveSlide);
				ready = true;
			}
		});
	};

	indicators.forEach((indicator) => {
		indicator.addEventListener('click', handleIndicatorClick);
	});

	arrowPrev.addEventListener('click', handlePrevArrowClick);
	arrowNext.addEventListener('click', handleNextArrowClick);

	function isActive(indicator) {
		return indicator.hasAttribute('active');
	}

	function removeActive() {
		document
			.querySelectorAll('.slider .indicators [active]')
			.forEach((item) => {
				item.removeAttribute('active');
			});
	}

	function addActive(indicator) {
		indicator.setAttribute('active', '');
	}

	function showSlide(newActiveSlide) {
		const newPosition = (100 * (newActiveSlide - 1)).toString();
		document.querySelector(
			'.slider-inner'
		).style.marginLeft = `-${newPosition}%`;
	}
</script>
